* {
    background-color: rgb(193, 244, 248);
}

div {
    text-align: center;
    display: none;
}

#show {
    display: block;
    margin-top: 250px;

};


header {
    display: flex;
    justify-content: space-between;
    margin: 0% 2%;
}
form {
    display: block;
    margin: auto;
    width: 30%;
}
input {
    display: inline-block;
    width: 100%;
    margin: 1%;;
}

#next {
    margin: 3%;
}

input:hover, button:hover {
    background-color: rgb(114, 114, 114);
    color: white;
}