* {
    background-color: rgb(193, 244, 248);
}

div {
    text-align: center;
    display: none;
}

#show {
    display: block;
    margin-top: 250px;

};

#score {
    display: flex;
    
}

header {
    display: flex;
    margin: 0% 2%;
    flex-direction: row;
    justify-content: space-between;
}

.top {
    position: relative;
    display: flex;
}

#highscore {
    display: inline-block;
}

form {
    display: block;
    margin: auto;
    width: 30%;
}

input {
    display: inline-block;
    width: 100%;
    margin: 1%;;
}

#next {
    margin: 3%;
}

input:hover, button:hover {
    background-color: rgb(114, 114, 114);
    color: white;
}