* {
    background-color: rgb(193, 244, 248);
}

div {
    text-align: center;
    display: none;
}

#show {
    display: block;
    margin-top: 250px;

};

#score {
    display: flex;
    
}

header {
    display: flex;
    margin: 0% 2%;
    flex-direction: row;
    justify-content: space-between;
}

.top {
    position: relative;
    display: flex;
}

#highscore {
    display: inline-block;
    font-size: 200%;
    background-color: black;
    color: aliceblue;
    margin: 2%;
}

form {
    display: block;
    margin: auto;
    width: 30%;
}

input {
    display: inline-block;
    width: 100%;
    margin: 1%;;
}

#next {
    margin: 3%;
}

input:hover, button:hover {
    background-color: rgb(114, 114, 114);
    color: white;
}

#nameform {
    width: 200px;
}

#nameform:hover, #nameform:focus {
    background-color: antiquewhite;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: -1%;
}
li {
    display: inline;
    font-size: 150%;
    background-color:rgb(255, 102, 102);
    width: fit-content;
    list-style-type: none;
    left: -1%;
    padding: .5%;
    margin: .5%;

}
#center-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 200%;
    font-weight: bold;

}